@font-face {
  font-family: "kaarle";
  src: local("kaarle"),
    url("./fonts/kk.otf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

h3 {
  margin: 10px;
  color: rgb(1, 1, 59);
}

.search {
  width: 40%;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: row;
}

ul {
  width: 20%;
  padding-inline: 0;
}

ul li {
  width: auto;
  height: auto;
  margin: 2.5px 2.5px 5px 2.5px;
  padding: 5px;
  font-size:22px;
  font-weight: bold;
  list-style-type : none;
  border: 6px solid black;
  max-height: 150px;
  align-self: auto;
  font-family: "kaarle";
}

li a {
  color: black;
  text-decoration: none;
}

table {
  top: 75px;
  width: 45%;
  min-width: 500px;
  table-layout: fixed;
  position: absolute;
}