@font-face {
  font-family: "kaarle";
  src: local("kaarle"),
    url("./fonts/kk.otf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --gray-hover: #323232;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

h3 {
  margin: 10px;
  color: rgb(1, 1, 59);
}

.header {
  max-width: 2480px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 5px;
  font-size: 65px;
  font-family: "kaarle";
  margin-bottom: 60px;
}

.search {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 10px;
}

.search .textBox {
  width: 35.5%;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  border: 10px solid black;
  background-color: black;
}


.search .textBox:hover {
  border-color: black;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: white;
}

::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
  color: white;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

ul {
  width: 500px;
  margin-block: 0;
  padding-inline: 0;
}

.textBox {
  color: black;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: auto;
  font-family: "kaarle";
  list-style-type : none;
  border: 10px solid black;
  margin: 10px 10px 20px 10px;
}

.textBox:hover {
  border-color:var(--gray-hover);
}

li a {
  width: 80%;
  height: 100%;
  max-width: 450px;
  color: black;
  display: inline-block;
  padding: 50px 25px 0px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  color: var(--gray-hover);
}

table {
  top: 75px;
  width: 45%;
  min-width: 500px;
  position: absolute;
  table-layout: fixed;
}

button {
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  background: black;
  border: 10px solid black;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: "kaarle";
}

.searchButton {
  font-size: 20px;
  color: white;
  background-color: rgb(58, 194, 58);
  cursor: pointer;
  padding: 10px 20px;
  border: 10px solid  rgb(58, 194, 58);
  font-family: "kaarle";
  margin-left: 20px;
}

button:hover {
  color: black;
  background: white;
  border: 10px solid black;
}

@media only screen and (max-width: 2500px) {
  .header {
    max-width: 2000px;
  }
  ul {
    width: 400px;
  }
}

@media only screen and (max-width: 1920px) {
  .header {
    max-width: 1500px;
  }
  ul {
    width: 300px;
  }
}
@media only screen and (max-width: 1500px) {
  .header {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    max-width: 900px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    max-width: 600px;
  }
  .logo {
    width: 100%;
  }
  .search .textBox {
    width: 58.5%;
    margin: 0;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 10px solid black;
  }
}


@media only screen and (max-width: 600px) {
  .header {
    max-width: 600px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 100%;
    margin: 20px;
  }
  .search  {
    width: 350px;
    margin: 0;
    padding: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    justify-content: center;
    
  }

  .searchButton {
    height: 100%;
    padding: 15px;
  }
}