@font-face {
  font-family: "kaarle";
  src: local("kaarle"),
    url("./fonts/kk.otf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input {
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius:0px;
  border-radius: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --gray-hover: #323232;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  color: rgb(1, 1, 59);
}

h3 {
  color: rgb(1, 1, 59);
}

.header {
  max-width: 2480px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 5px;
  font-size: 65px;
  font-family: "kaarle";
  margin-bottom: 60px;
  cursor: pointer;
}

.search {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 10px;
}

.search .searchBox .textBox {
  color:white;
  width: 35.5%;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  border: 10px solid black;
  background-color: black;
}


.search .searchBox .textBox:hover {
  border-color: black;
}

::-webkit-input-placeholder {
  opacity: 0.85;
  color: white;
}

::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.85;
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.85;
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.85;
  color: white;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}


ul {
  width: 500px;
  margin-block: 0;
  padding-inline: 0;
}

.textBox {
  color: black;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: auto;
  font-family: "kaarle";
  list-style-type : none;
  border: 10px solid black;
  padding-bottom: 90px;
  margin: 10px 10px 20px 10px;
}

.searchBox {
  background-color: black;
  color: white;
  font-size: 25px;
  width: auto;
  height: auto;
  cursor: pointer;
  align-self: auto;
  font-family: "kaarle";
  list-style-type : none;
  border: 10px solid black;
  margin: 10px 10px 20px 10px;
}

.textBox:hover {
  border-color:var(--gray-hover);
}

li a {
  width: 80%;
  height: 100%;
  max-width: 450px;
  color: black;
  display: inline-block;
  padding: 50px 25px 0px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  color: var(--gray-hover);
}

table {
  top: 75px;
  width: 45%;
  min-width: 500px;
  position: absolute;
  table-layout: fixed;
}


.piilotaButton {
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  background: white;
  border: 0px;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: "kaarle";
}

li .lisaaButton {
  color: #070D0D;
  cursor: pointer;
  padding: 10px 10px;
  background: #90EE90;
  border: 0px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-family: "kaarle";
}

li .lisaaButton:hover {
  background: #90E990;
}

button {
  color: white;
  cursor: pointer;
  background: black;
  border: 10px solid black;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: "kaarle";
}

.searchButton {
  align-self: auto;
  width: 33%;
  height: 50px;
  border: 0px;
  font-size: 25px;
  color: white;
  background-color: rgb(58, 194, 58);
  cursor: pointer;
  font-family: "kaarle";
  margin: 0px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  line-height: 44px;
  text-align: center;
}

.search {
  height: 40px;
  width: 50.5%;
  align-items: center;
  box-sizing: content-box;
  text-transform: uppercase;
}


button:hover {
  color: green;
  background: white;
  border: 10px solid solid green;
}

.searchButton:hover {
  background: green;
  border: 0px solid green;
  border-bottom: 0px solid green;
}

.piilotaButton:hover {
  color: black;
  background: white;
  border: 0px solid black;
  font-weight: bold;
}

.react-autosuggest__container {
  position:relative
}

.react-autosuggest__input {
  background-color: black;
  color: white;
  font-size: 25px;
  width: 350px;
  height: 51px;
  cursor: pointer;
  align-self: auto;
  text-align: left;
  font-family: "kaarle";
  text-transform: uppercase;
  list-style-type : none;
}



.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 65px;
  width: 350px;
  border: 1px solid #aaa;
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 345px;
}

.react-autosuggest__suggestion {
  cursor: pointer;

  height: fit-content;
  font-size: 22px;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 5px;
  border: 10px solid  black;
  border-bottom: 13px solid black;
  font-family: "kaarle";
  text-transform: uppercase;
  padding-bottom: 7px;
}

.react-autosuggest__suggestion--highlighted {
  color: green;
  padding-bottom: 7px;
}

@media only screen and (max-width: 2500px) {
  .header {
    max-width: 2000px;
  }
  ul {
    width: 400px;
  }
}

@media only screen and (max-width: 1920px) {
  .header {
    max-width: 1500px;
  }
  ul {
    width: 300px;
  }
}
@media only screen and (max-width: 1500px) {
  .header {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    max-width: 900px;
  }



}

@media only screen and (max-width: 900px) {
  .header {
    max-width: 600px;
  }
  .logo {
    width: 100%;
  }

  .search  {
    height: 10px;
    margin-top: 20px;
    padding: 2px;
    box-sizing: border-box;
    text-transform: uppercase;
    justify-content: center;
    
  }


  .react-autosuggest__input {
    background-color: black;
    color: white;
    font-size: 25px;
    width: 220px;
    height: auto;
    cursor: pointer;
    align-self: auto;
    text-align: left;
    font-family: "kaarle";
    text-transform: uppercase;
    list-style-type : none;
    border: 10px solid black;
  }

  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 360px;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    width: 160px;
    height: fit-content;
    font-size: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 1px;
    font-family: "kaarle";
    text-transform: uppercase;
    padding-bottom: 7px;
  }

  .react-autosuggest__suggestion--highlighted {
    color: green;
    padding-bottom: 7px;
  }

  .searchButton {
    border-bottom: 13px solid rgb(58, 194, 58);
    width: 50px;
    padding: 1px;
    font-size: 20px;
    text-align: center;
  }

  
}


@media only screen and (max-width: 600px) {

  .main {
    width: auto;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }

  .header {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .search  {
    width: 92%;
    height: 10px;
    margin: 0;
    padding: 2px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
    justify-content: center;
    
  }

  .textBox {
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
    width: 90%;
    padding: 0px;
  }


  .react-autosuggest__input {
    font-size: 20px;
    width: 100%;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    height: 50px;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 65px;
    width: 100%;
    border: 1px solid #aaa;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    z-index: 2;
    margin-left: 0px;
    
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 95%;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    width: 95%;
    height: fit-content;
    font-size: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 1px;
    font-family: "kaarle";
    text-transform: uppercase;
    padding-bottom: 7px;
  }

  .react-autosuggest__suggestion--highlighted {
    color: green;
    padding-bottom: 7px;
  }

  .searchButton {
    width: 30%;
    font-size: 20px;
    justify-content: center;
    margin: 0px;
    margin-left: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    line-height: 44px;
    text-align: center;
  }

  li a {
    height: 100%;
    padding: 20px 0px 25px 0px;
    width: 90%;
  }

  ul {
    width: 95%;
    align-items: center;
  }

}